.nav-item{
    font-size: 20px;

}
.header{
    text-align: center;
    font-family: arial;
    font-weight: bold;
}
.btn_opt{
  text-align: center;
  font-family: arial;
  font-weight: bold;
}
.bord_solid{
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.bord_bottom_solid{
  overflow-wrap: break-word;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width:1px ;
  border-style: solid;
  border-color: black;
}
.table_single_ord{
  padding-top: 30px;
}
.bord_top_solid{
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width:0px ;
  border-style: solid;
  border-color: black;
}
.ready_btn{
  width: 100%; 
  text-align:center;
  padding-left: 0px;
}
.login-container{
    font-family: "Poppins";
  }
  
  .login-container {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .screen-1 {
    background: #ffd9ad;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
  }
  .screen-1 .logo {
    margin-top: -3em;
  }
  .screen-1 .email {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: -3em;
  }
  .screen-1 .email input {
    outline: none;
    border: none;
    width: 100%;
  }
  .screen-1 .email input::-moz-placeholder {
    color: #ccc;
    font-size: 0.9em;
  }
  .screen-1 .email input:-ms-input-placeholder {
    color: #ccc;
    font-size: 0.9em;
  }
  .screen-1 .email input::placeholder {
    color: #ccc;
    font-size: 0.9em;
  }
  .screen-1 .email ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
  }
  .screen-1 .password {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
  }
  .screen-1 .password input {
    outline: none;
    border: none;
    width: 100%;
  }
  .screen-1 .password input::-moz-placeholder {
    color: #ccc;
    font-size: 0.9em;
  }
  .screen-1 .password input:-ms-input-placeholder {
    color: #ccc;
    font-size: 0.9em;
  }
  .screen-1 .password input::placeholder {
    color: #ccc;
    font-size: 0.9em;
  }
  .screen-1 .password ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
  }
  .screen-1 .password .show-hide {
    margin-right: -5em;
  }
  .screen-1 .login {
    padding: 1em;
    background: #d33642;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
  }
  .screen-1 .footer {
    display: flex;
    font-size: 0.7em;
    color: #5e5e5e;
    gap: 14em;
    padding-bottom: 10em;
  }
  .screen-1 .footer span {
    cursor: pointer;
  }
  
  button {
    cursor: pointer;
  }

  .error-msg {
    color: red;
    font-size: 10px;
  }

  .error-login {
    color: red;
    font-size: 12px;
  }

  .category-container {
    border-style: solid;
    border-color:black; 
    border-width: 1px;
    margin-top: 20px;
    padding: 5px;
  }

  .img-holder {
    width: 30px;
    height: 30px;
  }

  .logout-a{
    color: black;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
  }